* {
    outline: red dashed 1px;
}

body {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: "Oswald", "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    position: relative;
    text-decoration: none;
  }

  li {
      list-style: none;
  }

img {
    max-width: 100%;
    height: auto;
}

  
@media (min-width: 768px) {
  body {
    background-image: none;
  }
  .main-content {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url(/img/index-background-desktop.jpg.png);
    background-repeat: no-repeat;
    background-position: 95% 0;
  } 
  .main-content {
    width: 1300px;
    padding-left: 70px;
    padding-right: 70px;
  }
}