.contacts {
    margin-bottom: 25px;
}

.contacts__wrap {
    display: flex;
    margin-bottom: 27px;
    padding-top: 22px;
}

.contacts--page-fr {
    background-color: white;
    height: 115px;
    margin-bottom: 0px;
}

.contacts__wrap--page-fr {
    display: flex;
    margin-bottom: 27px;
    padding-top: 29px;
}

.contacts__heading {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    min-width: 140px;
    padding-left: 18px;
    line-height: 20px;
    letter-spacing: -0.4px;
}

.contacts__value {
    margin: 0;
    font-family: 'Arial';
    padding-left: 3px;
    line-height: 20px;
}

.contacts__word-wrap {
    display: none;
}

@media (min-width: 768px) {
    .contacts {
      height: 200px;
    }

    .contacts__wrap {
        margin: 0;
        padding-top: 67px;
    }

    .contacts__heading {
        font-size: 20px;
        padding-left: 40px;
        line-height: 25px;
        margin-right: 313px;
    }

    .contacts__value {
        font-size: 16px;
        line-height: 25px;
        text-align: end;
    }

    .contacts__word-wrap {
        display: block;
    }
}

@media (min-width: 1300px) {
    .contacts--page-fr {
        position: absolute;
        width: 570px;
        height: 190px;
        top: 97px;
        margin-left: 39px;
    }

    .contacts__heading {
        margin-right: 48px;
        width: 199px;
        padding-left: 77px;
    }

    .contacts__value {
        text-align: left;
    }
}
