.inner-page--changing-page {
    background-image: url(/img/index-background-mobile.png);
    background-repeat: no-repeat;
}

.inner-page__heading {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    padding-left: 0px;
    padding-top: 29px;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
    color: white;
    margin-bottom: 22px;
}

.inner-page__subtitle {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    font-weight: 300;
    padding-left: 60px;
    letter-spacing: 0.3px;
    margin-bottom: 26px;
}

.inner-page__img {
    padding-left: 20px;
}

.inner-page__prog-link {
    width: 280px;
    margin-left: 20px;
    background-color: rgb(104,183,56);
    letter-spacing: -0.8px;
}

.inner-page__button {
    margin-bottom: 22px;
}

@media (min-width: 768px) {

    .inner-page--changing-page {
        background-image: url(/img/index-can-tablet.jpg.png);
        background-repeat: no-repeat;
        width: 668px;
        height: 864px;
        background-position: -20px 257px;
    }

    .inner-page__img {
        display: none;
    }

    .inner-page__wrap {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-left: 70px;
    }

    .inner-page__heading {
        color: black;
        font-size: 60px;
        line-height: 61px;
        padding-top: 56px;
        letter-spacing: -2px;
        text-align: left;
        margin-bottom: 41px;
    }

    .inner-page__subtitle {
        color: black;
        padding: 0;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.5px;
        margin-bottom: 45px;
    }

.inner-page__prog-link {
        padding-right: 0;
        margin-left: 0;
        width: 245px;
        height: 22px;
        font-size: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        letter-spacing: -1px;
    }

} 